/**
  Fonts
 */

$primary-font: 'Montserrat',sans-serif;

// headers
$header-1-font-size: 2em;
$header-2-font-size: 2.5rem;
$header-3-font-size: 1.17em;
$header-4-font-size: 1.5rem;
$header-5-font-size: 0.83em;

// paragraphs
$paragraph-font-size: 12pt;

// get the font style for an element
@mixin setFontStyle($size){
  font-size: $size;
  font-family: $primary-font;
}

/**
  Colours
*/
$greyWhite: ghostwhite;
$white: white;
$black-dark: #1E2326;
$blue: cornflowerblue;
$teal: teal;


